{%load static%}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Pizzaria C'e</title>
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,Themeton" >
    <meta name="description" content="Pizzeria C'e">
    <meta name="author" content="Themeton">

    <script src= "{%static 'sliderScript.js'%}" defer></script>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'images/favicon.png'%}"/>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic%7CPlayball%7CMontserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/bootstrap/css/bootstrap-theme.min.css'%}">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/font-awesome/css/font-awesome.min.css'%}">

    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/swiper/css/swiper.min.css'%}">

    <!-- Magnific-popup -->
    <link rel="stylesheet" type="text/css" href="{%static 'vendors/magnific-popup/magnific-popup.css'%}">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">

</head>

<body>

    <div class="wrapper">


        <header id="header" class="menu-above-logo">
            <div class="container" style="display: flex; justify-content:center;">
                <div class="row" style="width: 800px;">
                    <div class="col-sm-12">
                        
                        <div class="header-wrapper">

                            <nav class="main-nav">
                                <ul>
                                    <li class="current-menu-item menu-item-has-children">
                                        <a href="index.html">Ana Sayfa</a>
                                    </li>
                                    <li><a onclick="scrollToPage('hikayemiz')" style="cursor: pointer;">Hikayemiz</a></li>
                                    <li class="menu-item-has-children">
                                        <a onclick="scrollToPage('galeri')" style="cursor: pointer;">Galeri</a>
                                    </li>
                                    <li><a href="{{ menu }}" style="cursor: pointer;">Menü</a></li>
                                    <li><a onclick="scrollToPage('reservasyon')" style="cursor: pointer;">Rezervasyon</a></li>
                                    <li><a onclick="scrollToPage('iletisim')" style="cursor: pointer;">İletişim</a></li>
                                </ul>

                                <a href="javascript:;" id="mobile-menu">
                                    Menu
                                    <span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </a>
                                <a href="javascript:;" id="close-menu"></a>
                            </nav>
                            

                        </div>

                    </div>
                </div>
            </div>
        </header>

        <section class="section-content">

            <div class="content-full">
                

                <div class="fullscreen-section pv3 bg-cover bg-center-center" style="background-image: url({{ anasayfa_arkaplan  }});">
                    <div class="pv13"></div>
                    <div class="text-center" style="padding-top: 100px; padding-bottom:200px;">
                        <img src="{{ anasayfa_logo }}" alt="foody" data-width="529px" style="width: 529px;">
                    </div>

                </div>


                <div class="fullscreen-section mv14" id="hikayemiz">
                    <div class="container bg-contain bg-right-center bg-visible-md" style="background-image: url({{ hikayemiz_fotograf }}); height: 600px;">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                
                                <div class="heading text-center">
                                    <h3> {{ hikayemiz_baslik }}</h3>
                                    <div class="line"></div>
                                </div>

                                <p>
                                    {{ hikayemiz_yazi }} </p>

                                <br/>
                                <p>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="fullscreen-section bg-cover bg-center-top section-chefs" style="background-image: url({{ nilgun_cahit_arkaplan }});">
                    <div class="overlay" data-bg-color="#000" data-alpha="0.85"></div>
                    <div class="container pv14" style="background-image: url({{ nilgun_cahit_fotograf }});">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 text-center text-light pv5 pvb0">
                                
                                <div class="heading text-center text-light">
                                    <h3>{{ nilgun_cahit_baslik }}</h3>
                                    <div class="line img-icon">
                                        <img src="{%static 'images/svg/cook-hat.svg'%}" alt="svg icon" data-width="20px">
                                    </div>
                                </div>

                                <p>
                                    {{ nilgun_cahit_yazi }}</p>
                                
                            </div>
                        </div>
                    </div>
                </div>



              
  


                <div class="fullscreen-section slider-container" id="galeri">
                    <div class="slider">
                        

                        {% for image in sliders %}
                        <div class="slide">
                            <img
                              src="{{ image }}"
                              alt=""
                            />
                        </div>

                        {% endfor %}

                          </div>
                         <!-- Control buttons -->
                        <button class="btn btn-next">></button>
                        <button class="btn btn-prev"></button>
                      </div>
                </div>








                <div class="fullscreen-section pv16" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url({{ rezervasyon_arkaplan }});" id="reservasyon">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="heading text-center text-light">
                                    <h3>{{ rezervasyon_baslik }}</h3>
                                    <h4>{{ rezervasyon_yazi }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row pv10 pvb0">
                            <div class="col-md-10 col-md-offset-1">
                                
                                <form class="transparent text-light" action=""
                                method="post" id="email_form">
                                {% csrf_token %}
                                <input type="hidden" name="access_token" value="xr8f8oi7ct3ti7orj1g4qvsp" />
                                                            
                                <input type="hidden" name="success_url" value="." />
                                {% csrf_token %}
                                <input type="hidden" name="error_url" value="." />
                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" placeholder="Adınız *" name="name">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="email" placeholder="Email *" name = "email">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="number" placeholder="Numaranız *" name = "phone">
                                        </div>
                                    </div>
                                    <div class="row mv2">
                                        <div class="col-sm-4">
                                            <input type="datetime-local" name="date" placeholder="Tarih *">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="number" placeholder="Kişi sayısı *" name = "people">
                                        </div>
                                    </div>
                                    <div class="row pv2 pvb0">
                                        <div class="col-sm-12 text-center">
                                            <button id="submit_form" type="submit" value="Send" class="button small fill">Rezerve Et</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <script>
                    var submitButton = document.getElementById("submit_form");
                    var form = document.getElementById("email_form");
                    form.addEventListener("submit", function (e) {
                        setTimeout(function() {
                            submitButton.value = "Sending...";
                            submitButton.disabled = true;
                        }, 1);
                    });
                </script> 
                </div>



                <div class="fullscreen-section pv14 bg-cover bg-center-top" style="background-image: url({{ iletisim_arkaplan }});" id="iletisim">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                               
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                
                                <div class="heading text-left text-light">
                                    <h4>{{ iletisim_baslik }}</h4>
                                </div>

                                <p class="text-light mv3">
                                    {{ iletisim_yazi }}
                                </p>

                                <p>
                                    <a href="https://www.instagram.com/pizzeria_ce/" class="button small fill">İnstagram</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </section>



        <footer id="footer" class="footer-2">

            <div class="container footer-container">
                <div class="row">

                    <div class="col-md-3">
                        <div class="widget">
                            <h5 class="widget-title"></h5>
                           
                        </div>

                        <div class="widget">
                            <div class="social-links">
                                <a href="https://tr-tr.facebook.com/pizzeriace/"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.twitter.com/pizzeriace"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/pizzeria_ce/"><i class="fa fa-instagram"></i></a>
                                <a href="https://ru.pinterest.com/pizzeriace/"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="widget">
                            <h5 class="widget-title">Konum</h5>
                            <p>
                                Türkbükü Mahallesi Şehit Gaffur Kaynar Caddesi 88 Sokak No:11/A, Bodrum, 48000 Muğla<br>
                                <i class="fa fa-phone"></i> +90 252 377 60 66<br>
                                <i class="fa fa-envelope-o"></i> www.pizzeriace.com
                            </p>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="widget">
                            <h5 class="widget-title">Çalışma Saatleri</h5>
                            <p>Pazartesi - Pazar<br> <strong class="color-brand">11.00 - 23.00</strong></p>

                            <p>Salı<br> <strong class="color-brand">17.00 - 23.00</strong></p>
                        </div>
                        
                    </div>



                </div>

            </div>

            <div class="sub-footer">
                <div class="container">
                    <div class="row copyright-text">
                        <div class="col-sm-12 text-center">
                            <p class="mv3 mvt0">&copy; 2022 Pizzeria C'e Tüm hakları saklıdır.</p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>        
    </div>

    <!-- Overlay Search -->
    <div id="overlay-search">
        <form method="get" action="./">
            <input type="text" name="s" placeholder="Search..." autocomplete="off">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <p>Begin typing and hit enter to search...</p>
        </form>
        <a href="javascript:;" class="close-search"></a>
    </div>


    <!-- Include jQuery and Scripts -->
    <script type="text/javascript" src="{%static 'jquery.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'vendors/bootstrap/js/bootstrap.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'vendors/jquery.waypoints.min.js'%}"></script>
    <script type="text/javascript" src="{%static 'vendors/isotope.pkgd.min.js'%}"></script>

    

    <!-- Swiper -->
    <script type="text/javascript" src="{%static 'vendors/swiper/js/swiper.min.js'%}"></script>

    <!-- Magnific-popup -->
    <script type="text/javascript" src="{%static 'vendors/magnific-popup/jquery.magnific-popup.min.js'%}"></script>

    <script type="text/javascript" src="{%static 'js/scripts.js'%}"></script>


</body>
</html>
{% endblock %}